<?xml version="1.0"?>
<config>
    <modules>
        <Anowave_Buy>
            <version>0.1.0</version>
        </Anowave_Buy>
    </modules>
    <global>
        <models>
            <buy>
                <class>Anowave_Buy_Model</class>
                <resourceModel>buy_resource</resourceModel>
            </buy>
			<buy_resource>
				<class>Anowave_Buy_Model_Resource</class>
				<entities>
					<buy>
						<table>anowave_buy</table>
					</buy>
					<reference>
						<table>anowave_buy_product</table>
					</reference>
				</entities>      
			</buy_resource>
        </models>
        <resources>
		    <anowave_buy_setup>
		        <setup>
		            <module>Anowave_Buy</module>
		        </setup>
		    </anowave_buy_setup>
		</resources>
        <resources>
            <anowave_buy_setup>
                <setup>
                    <module>Anowave_Buy</module>
                </setup>
            </anowave_buy_setup>
			<anowave_buy_write>
				<connection>
					<use>core_write</use>
				</connection>
			</anowave_buy_write>
			<anowave_buy_read>
				<connection>
					<use>core_read</use>
				</connection>
			</anowave_buy_read>    
        </resources>
        <helpers>
	        <buy>
	            <class>Anowave_Buy_Helper</class>
	        </buy>
	    </helpers>
	    <blocks>
            <buy>
                <class>Anowave_Buy_Block</class>
            </buy>
            <catalog>
	            <rewrite>
	                <product_view>Anowave_Buy_Block_View</product_view>
	            </rewrite>
	        </catalog>
        </blocks>
		<events>
			<core_block_abstract_to_html_before>
                <observers>
                    <insert>
                        <class>Anowave_Buy_Model_Observer</class>
                        <method>insert</method>
                    </insert>
                </observers>
            </core_block_abstract_to_html_before>
			<get_child_html>
                <observers>
                    <buy>
                        <class>Anowave_Buy_Model_Observer</class>
                        <method>modify</method>
                    </buy>
                </observers>
            </get_child_html>
		</events>
    </global>
    <frontend>
        <routers>
            <purchase>
                <use>standard</use>
                <args>
                    <module>Anowave_Buy</module>
                    <frontName>purchase</frontName>
                </args>
            </purchase>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
            	<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                		<buy>
											<title>Buy Now Configuration</title>
										</buy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
		<buy>
			<config>
				<status>1</status>
			</config>
		</buy>
	</default>
</config>